<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Money+</title>
    <link rel="stylesheet" href="index.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css"/>
</head>
<body>
    <nav class="navbar animate__animated animate__bounceIn">
        <div class="left">
            <h1>Money+</h1>
        </div>
        <div class="right">
            <ul class="list">
                <% if (user) { %>
                <% } else { %>
                    <a href="/auth/login" style="margin-right:10px;">Login</a>
                    <a href="/auth/register">Register</a>
                <% } %>
            </ul>
        </div>
    </nav>
    <div class="main-container">  
        <h1 class="animate__animated animate__backInUp">Selamat Datang di Money+</h1>
        <p>Money+ adalah aplikasi pengelola keuangan yang mudah digunakan dan membantu Anda mengatur uang Anda dengan lebih baik.</p>
        <p>Anda dapat memantau pengeluaran dan pemasukan Anda secara detail, serta mendapatkan rekomendasi untuk menghemat uang Anda.</p>
        <button class="btn" onclick="location.href='/auth/login'">Coba Sekarang</button>
    </div>
</body>
</html>

